html,
body,
h1,
h2,
h3,
h4,
h5,
h6{
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

input{
  padding:  0.5rem;
  width:  100%;
}

input[type=range] {
  width: calc(100% - 10px)
}

.frow{

}

.flabel{
  margin-bottom: 1rem;
  font-weight: bold;
}

.fvalue{
  margin-bottom: 1rem;
}
