html {
  --color-main: #000;
  --color-bg: #fff;
  --color-light-bg: #ccc;
  --color-link: blue;
}

@media (prefers-color-scheme: dark) {
  html {
    --color-main: #fff;
    --color-bg: #000;
    --color-light-bg: #333;
    --color-link: #297afe;
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  user-select: none;
}

html {
  font-size: 12px;
  font-family: Arial;
}

body {
  margin: 1rem 1rem;
  background: var(--color-bg);
  color: var(--color-main);
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: var(--color-link);
  font-weight: bold;
}

label {
  font-weight: bold;
}

input[type='range'] {
  width: calc(100% - 10px);
}

button {
  background: var(--color-light-bg);
  color: var(--color-main);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  display: block;
  font-weight: bold;
}

input,
button {
  font-size: 1rem;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;

  &__label {
    margin-bottom: 0.5rem;
    display: block;
    width: 80px;
    flex-shrink: 0;
    text-align: right;
    margin-right: 0.5rem;
  }

  &__value {
    display: block;
    flex-grow: 1;
  }

  input,
  &__value-readonly {
    padding-block: 0.25rem;
    width: 100%;
    border: none;
  }

  &__value-readonly {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  &__label,
  &__value-readonly {
    font-weight: bold;
  }
}
